<div class="flex flex-col items-center gap-2">
  <div class="flex items-center gap-3">
    <%= vite_image_tag "images/graphics/payment_methods/Light Color/1.png", alt: "Visa", class: "h-6 w-auto border-1 border-black" %>
    <%= vite_image_tag "images/graphics/payment_methods/Light Color/2.png", alt: "Mastercard", class: "h-6 w-auto border-1 border-black" %>
    <%= vite_image_tag "images/graphics/payment_methods/Light Color/3.png", alt: "Maestro", class: "h-6 w-auto border-1 border-black" %>
    <%= vite_image_tag "images/graphics/payment_methods/Light Color/22.png", alt: "American Express", class: "h-6 w-auto border-1 border-black" %>
  </div>
  <%= vite_image_tag "images/graphics/stripe/blurple.svg", alt: "Powered by Stripe", class: "h-5 w-auto bg-white" %>
</div>